.bp-video-widget {
  width: 100%;
}

.bp-image-widget {
  max-width: 100%;
}

//two column widgets
.col-display {
  display: flex;
  flex-flow: row;
  width: 100%;
}
.two-col {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.two-col__column {
  display: flex;
  flex-direction: column;
  flex: 1;
}



//three column widgets
.three-col {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.three-col__column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

//four column widgets 
.four-col {
  display: flex;
  flex-flow: row;
  width: 100%;
}
.four-col__column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
// .apos-areas-widgets-list {
//   height: 100%;
// }
//collapser widget
.collapser__detail {
  display: none;

  &.is-active {
    display: block;
  }
}

//home-banner-widget 
.home-banner-wrapper {
  padding-bottom: 70px;
}
.home-banner-content {
  position: relative;
}
.banner-image-part {
  min-height: 700px;
  width: 100%;
  position: relative;

  img {
    position: absolute;
    height: 700px;
    top: 0;
    left: 15%;
  }
}
.banner-text-part {
  position: absolute;
  width: 55%;
  margin: 0;
  padding: 50px 30px;
  top: 50%;
  background: #075664;
}

