<div class="data-four-column-widget">
    <div class="container">
        <section data-four-column-widget>
            
            <div class="four-col home-redirects">
                
                    <div class="four-col__column one-fourth">
                        {% area data.widget, 'columnOne' %}
                    </div>
                
               
                    <div class="four-col__column one-fourth">
                        {% area data.widget, 'columnTwo' %}
                    </div>
                
               
                    <div class="four-col__column one-fourth">
                        {% area data.widget, 'columnThree' %}
                    </div>
                
       
                    <div class="four-col__column one-fourth">
                        {% area data.widget, 'columnFour' %}
                    </div>
                    
                    <a href="{{ data.widget.redirectLink }}"></a>
                    </a>
            </div>
        
        </section>
    </div>
</div>

