{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block beforeMain %}
<div class="bp-wrapper">
  <header class="bp-header">

    <div class="top-header">
      <ul class="top-head-info">
        <li>Current COVID-19 procedures for our clinic</li>
        <li><a href="#">See full details</a></li>
      </ul>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>

    
    <nav class="bp-nav">
      <img class="bp-header__logo" src="/images/logo.png" alt="ApostropheCMS logo">
      <ul>    
        {% for page in data.home._children %}
          <li>
            <a href="{{ page._url }}">{{ page.title }}</a>
          </li>
        {% endfor %}

      </ul>
      <div class="header-button">
        <a href="#" class="navy-btn">How to Book</a>
        <a href="#" class="white-btn">Contact us</a>
      </div>
    </nav>
    {% if not data.user %}
      <a class="bp-button bp-header__login" href="/login">Login</a>
    {% endif %}
  </header>
  <main class="bp-main">
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  </main>
  <footer class="bp-footer">
      <ul class="bp-footer__links">
        <li><a href="https://apostrophecms.com/" target="_blank">Terms and Conditions</a></li>
        <li><a href="https://chat.apostrophecms.com/" target="_blank">Privacy Policy</a></li>
      </ul>
  </footer>
</div>{# Close .bp-wrapper #}
{% endblock %}
