{# Automatically extends the right outer layout and also handles AJAX siutations #}

{% import 'fragments/header.html' as header %}
{% import 'fragments/navigation.html' as navigation %}
{% import 'fragments/footer.html' as footer %}

{% extends data.outerLayout %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

{% endblock %}


{% block beforeMain %}
<div class="bp-wrapper">
    {% if not data.user %}
      <a class="bp-button bp-header__login" href="/login">Login</a>
    {% endif %}
    {% render header.headerArea() %}
    {% render navigation.navigationArea() %}
 
  <main class="bp-main">
    <div class="container">
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
    </div>
  </main>
  {% render footer.footerArea() %}
</div>{# Close .bp-wrapper #}
{% endblock %}
