<div class="recent-article-section">
  <div class="container">
    <div class="row">
      {% if data.articles.length %}
      {% for article in data.articles %}
      <div class="col-lg-4">
        <div class="article-excerpt">
          {% if not article._url %}
              <p class="meta purple">
                <em>You will need to publish an Article Index page for article links to work.</em>
              </p>
          {% endif %}
          
          <div class="article-thumbnail">
            {% set image = apos.attachment.first(article, { group: 'images' }) %}
            <img src="{{ image._urls[ 'one-third' ] }}">  
          </div>

          <div class="article-widget-body">

            <h3><a href="{{ article._url }}">{{ article.title }}</a></h3>

            <article>
              {% if not apos.area.isEmpty(article, 'body') %}
                <p class="article-blurb">{% area article, 'body' %}</p>
                                   
              {% else %}
                <p class="placeholder">No blurb for this article</p>
              {% endif %}
            </article>

          </div>

        </div>
      </div>
      {% endfor %}
    {% else %}
      <p>There are no articles yet. Try adding one.</p>
    {% endif %}
    </div>
  </div>
</div>

 <!-- javascript to display only the first 100 characters of the article -->
<script defer>
  var articleBlurb = document.getElementsByClassName('article-blurb');
  for (var i = 0; i < articleBlurb.length; i++) {
    console.log(articleBlurb[i]);
    var blurb = articleBlurb[i].innerHTML;
    var blurbLength = blurb.length;
    if (blurbLength > 100) {
      blurb = blurb.substring(0, 100);
      blurb += '...';
    }
    articleBlurb[i].innerHTML = blurb;
  }
  </script>

