{% import '@apostrophecms/template:macros/arrows.html' as arrows with context %}
{% import "link.html" as link %}
{% set widget = data.widget %}

<div class="widget cta-links-widget">
  <div class="cta-links-widget__items">
    {% for item in data.widget.links %}
      {% set path = apos.helper.linkPath(item) %}
      <div class="cta-links-widget__item" class="{{ item._id }}">
        {{ link.render({
          label: item.linkText,
          path: path,
          target: item.linkTarget,
          class: 'button cta-links-widget__button'
        })}}
        </dv>
    {% endfor %}
  </div>
</div>

<style>
  {% for item in data.widget.links %}
    .{{ item._id }}:hover a {
      background-color: {{ item.color }}
    }
  {% endfor %}
</style>