{% fragment footerArea() %}

{% import "link.html" as link %}

{% set path = apos.helper.linkPath(data.global)%}

{% set class = '' %}
{% if widget.block %}
  {% set class = class + ' button-widget--block-' + widget.block %}
{% endif %}
{% if widget.alignment %}
  {% set class = class + ' button-widget--alignment-' + widget.alignment %}
{% endif %}


<!-- Footer-->
<footer class="main-footer">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <ul class="footer-button">        
          {% for item in data.global.footerButton.items %}
          <li class="widget button-widget {{ class }}" id="{{ widget._id }}">      
            {{ link.render({
              label: item.linkText,
              path: path,
              target: item.linkTarget,
              class: 'button'
            })}}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-12 green-footer">
        <ul class="footer-link">
          {% for item in data.global.footerLink.items[0].links %}
          <li class="cta-links-widget__item" class="{{ item._id }}">        
            {{ link.render({
              label: item.linkText,
              path: path,
              target: item.linkTarget,
              class: 'button cta-links-widget__button'
            })}}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>

  

{% endfragment %}

<style>
  #{{ widget._id }} .button:hover{
    background-color: {{ widget.color }}
  }
</style>
