{% fragment headerArea() %}

{% import "link.html" as link %}

{% set path = apos.helper.linkPath(data.global)%}

{% set image = apos.attachment.first(data.global._brand) %}

<div class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="top-header-content">

          <a class="navbar-brand" href="{{ data.home._url }}"><img src="{{ apos.attachment.url(image) }}" alt="" /></a>

          <ul class="navbar-link">
            {% for item in data.global.headerlink.items[0].links %}
            <li class="cta-links-widget__item" class="{{ item._id }}">        
              {{ link.render({
                label: item.linkText,
                path: path,
                target: item.linkTarget,
                class: 'button cta-links-widget__button'
              })}}
           </li>
            {% endfor %}
          </ul>
          
        </div>
      </div>
    </div>
  </div>


    
</div>

{% endfragment %}