{% fragment headerArea() %}

{% import "link.html" as link %}

{% set path = apos.helper.linkPath(data.global)%}

<div class="top-header">
    <ul class="top-head-info">
      <li>{{ data.global.headermessage }}</li>
      <li>  {{ link.render({
        label: data.global.linkText,
        path: path,
        target: data.global.linkTarget,
        class: 'button'
      })}}</li>
    </ul>
    <button type="button" class="btn-close" id="cross-icon" aria-label="Close"></button>
</div>

{% endfragment %}