{% fragment navigationArea() %}

{% set image = apos.attachment.first(data.global._brand) %}
<!-- Navigation-->
<nav class="navbar" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ data.home._url }}"><img src="{{ apos.attachment.url(image) }}" alt="" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        {% for page in data.global.pages %}
        <li class="nav-item">
          <a class="nav-link" href="{{ page._page[0]._url }}">{{ page.label }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% endfragment %}
