<div class="data-services-column-widget">
    <div class="container">
        <section data-services-column-widget class="services-column">
            <div class="left-column">
                <div class="services-content">
                    {% area data.widget, 'leftSection' %}
                </div> 
                <div class="middle-seperator"></div>                 
            </div>
            <div class="right-column">
                {% set image = apos.attachment.first(data.widget.rightSection) %}
                <img src="{{ apos.attachment.url(image) }}" alt="" />
            </div>
        </section>
    </div>
</div>
